/*
@import url('https://fonts.googleapis.com/css?family=Fascinate');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Lato');
*/

@font-face
{
    font-family: Fascinate;
    src: url('../fonts/Fascinate-Regular.ttf');
}

@font-face
{
    font-family: Pacifico;
    src: url('../fonts/Pacifico-Regular.ttf');
}

@font-face
{
    font-family: Lato;
    src: url('../fonts/Lato-Regular.ttf');
}

body
{
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
 }

#background
{
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    /* Enabling the background scrolling animation */
    background: url("../img/playstation-pattern.png");
    animation: 200s scroll infinite linear;  
    
    /* Scorlling works by checking if the current selector has been overflowed, and if so enables scrolling */
    
    /*If you want header to be scrolled as well; don't forget to comment out scrolling under (#results)*/
    overflow: scroll;
    overflow-x: hidden;
}

/* Part of the background scrolling animation */
@keyframes scroll
{
  100%
    {
        background-position:0px -3000px;
    }
}

#header
{
    position: relative;
    top: 0;
    left: 0;
    
    height: 150px;      
    width: 100%;
    
}

#logo
{
    position: relative;         
    top: 0%;
    left: 14%;
    right: 100%;

    height: 100px;
    width: 250px;
    
    margin: 0px 0px 0px 0px;
}

#logo h1
{    
    position: absolute;         
    top: 0%;
    left: 0%;
    
    margin: 0px;
    
    font-family: 'Fascinate';
    font-size: 450%;
    font-weight: normal;
    
    /* color-grad.js changes the background attribute here */
    
    /* !important is for disabling javascript from overriding */
    /* masking or clipping the background to only the text */
    -webkit-background-clip: text !important;
    color: transparent;
    
    text-shadow: 0px 1px 0px rgba(255,255,255,0);
}

#logo h2
{   
    position: absolute;
    top: 42%;
    left: 70%;
    
    margin: 0px;
    
    font-family: 'Pacifico';
    font-size: 150%;
    font-weight: normal;
    
    color: dimgray;
}

#search
{
    position: absolute;
    top: 65%;
    left: 14%;
    
    font-family: "Lato";
}

#search_bar
{
    position: absolute;
}

.typeahead, .tt-query, .tt-hint 
{    
    /* reset.css should have been used from the start to avoid many things being set automatically */
    
    position: absolute;
    width: 30vw;
    
    padding: 12px 45px 12px 20px;
    margin-bottom: 20px; 
    
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    
    font-size: 17px; 
}

.typeahead 
{
	background-color: #FFFFFF;
}

.typeahead:hover, .typeahead:focus 
{
    outline: none;
    box-shadow: 0 3px 8px 0 rgba(0,0,0, 0.2), 0 0 0 1px rgba(0,0,0, 0.08);
}

.tt-query 
{
	/*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;*/
}

.tt-hint 
{
	/*color: #999999;*/
}

.tt-menu 
{  
    width: 99%;
    
    padding: 0px 0px 0px 0px;
    margin-top: -1px; 

    border: 1px solid #ddd;
    background-color: #f6f6f6; 
}

.tt-suggestion 
{
    padding: 13px; 
    
    text-decoration: none;
    font-size: 16px; 
    color: black; 
}


.tt-suggestion:hover    /*For mouse hover in suggestion*/
{
    cursor: pointer;
    background-color: #EEEEEE;
    color: #000000;
}

.tt-cursor      /*For arrows keys in suggestion*/
{
    background-color: #EEEEEE;
}

.tt-suggestion p 
{
	/*margin: 0;*/
}

.search_btn
{
    position: absolute;
    top: 19%;
    right: 12px;
    
    width: 20px;
    height: 20px;    
}

#results
{
    position: relative;
    top: 0px;
    
    padding-top: 0px;
    
    /* 100% for entire height of page */
    /* 100px is height of header */
    height: calc(100% - 100px);   
    width: 100%;
            
    font-family: "Lato";
    
    /* If you don't want header to be scrolled; don't forget to comment out scrolling under (#background) */
    /*overflow: scroll;*/
}

#results p
{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    
    margin: 0px 0px 0px 0px;
    
    font-size: 5vw;    /*Setting this to % will not make it change with window-resizing*/
    white-space: nowrap;
    
    color: darkgray;
}

.result_list
{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    
    /* 100% is entire width of page */
    /* 16.5% is distance of search bar from left + some more */
    /* 16.5% one more time for the right side */
    width: calc(100% - 16.5% - 16.5%);
    
    padding: 10px 0px 10px 0px;

    background-color: white;
    
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);  
}

.result_record
{
    position: relative;
    
    height: 15%;
    
    padding: 10px 40% 10px 4%;
    margin: 0px 0px 1px 0px;
      
    list-style: none;
}

.result_title
{
    padding: 0px 0px 0px 0px;
        
    font-size: 18px;
    font-weight: bold;
}

.result_title a
{
    text-decoration: none;
    
    color: mediumblue;
}

.result_title a:hover
{
    cursor: pointer;
    
    text-decoration: underline;
}

.result_details
{
    padding: 0px 0px 0px 0px;
    
    list-style: none;
}

.result_link
{    
    padding: 4px 0px 0px 0px;
    
    color: green;
}

.result_description
{
    padding: 4px 0px 0px 0px;
}

#pages
{
    position: relative;
    top: 2%;
    
    height: 150px;
    width: 100%;
}
    
.pagination
{  
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    
    padding: 0px;
    margin: 0px;
}

.pagination li
{
    display: inline-block;
    
    margin: 10px;

    width: 40px;
    height: 40px;
    
    font-family: "Lato";
    line-height: 38px;
    text-align: center;
    
    background-color: white;
    border-radius: 10%;
    border: 1px solid dimgray;
}

.pagination li.active
{
    background-color: dimgray;
    color: #FFFFFF;
}

.pagination a
{    
    text-decoration: none;
    color: dimgray;
}

.pagination li.active a
{
    color: white;
}

.pagination li:hover
{
    cursor: pointer;
}