@import url('https://fonts.googleapis.com/css?family=Fascinate');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Lato');

body
{
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
 }

#background
{
    position: fixed;
    background: url("../img/playstation-pattern.png");
    animation: 200s scroll infinite linear;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@keyframes scroll
{
  100%
    {
        background-position:0px -3000px;
    }
}

#logo
{
    position: relative;     /*to make the childs relative to it*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /*dimenstions important for positioning of childs relative to parent*/
    height: 500px;
    width: 500px;
    
    margin: 0px 0px 0px 0px;
    
    cursor: hand;
}

#logo h1
{
    /*!important is for disabling javascript from overriding*/
    
    position: absolute;     /*absolute as in position relative to parent (#logo)*/
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
    
    font-family: 'Fascinate';
    font-size: 1000%;
    font-weight: normal;
    
    -webkit-background-clip: text !important;
    color: transparent;
    
    text-shadow: 0px 1px 0px rgba(255,255,255,0);
    
}

#logo h2
{
    position: absolute;     /*absolute as in position relative to parent (#logo)*/
    top: 39%;
    right: 2%;
    transform: translate(-50%, -50%);
    margin: 0px;
    
    font-family: 'Pacifico';
    font-size: 200%;
    font-weight: normal;
    
    color: dimgray;
}

#logo p
{
    position: fixed;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
    
    font-family: 'Lato';
    font-size: 100%;
    
    color: black;
}

#search
{
    font-family: sans-serif;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.typeahead, .tt-query, .tt-hint 
{    
    /*Somehow there are so many things atuomatically set
        like position being set to relative - maybe it has to do
        with twitter's tyepahead.js, though doubtful*/
    
    /*This could be the reason why reset.css was needed, and why if we
        add it now, so many things go wrong, because quite simply, all
        this CSS written so far does not handle the things alread handled
        before applying reset.css, which zeros them upon applying. This also
        explains why there are things with margin out of nowhere till we
        remove the margins manually
    */
    
    width: 396px;
    padding: 12px 45px 12px 20px;
    margin-bottom: 20px; 
    
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    
    font-size: 17px; 
}

.typeahead 
{
	background-color: #FFFFFF;
}

.typeahead:hover, .typeahead:focus 
{
    outline: none;
    box-shadow: 0 3px 8px 0 rgba(0,0,0, 0.2), 0 0 0 1px rgba(0,0,0, 0.08);
}

.tt-query 
{
	/*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;*/
}

.tt-hint 
{
	/*color: #999999;*/
}

.tt-menu 
{  
    border: 1px solid #ddd;
    margin-top: -1px; 
    background-color: #f6f6f6; 
    
    padding: 0px 0px 0px 0px;
    width: 99%;
}

.tt-suggestion 
{
    padding: 13px; 
    text-decoration: none;
    font-size: 16px; 
    color: black; 
}


.tt-suggestion:hover    /*For mouse hover in suggestion*/
{
    cursor: pointer;
    background-color: #EEEEEE;
    color: #000000;
}

.tt-cursor      /*For arrows keys in suggestion*/
{
    background-color: #EEEEEE;
}

.tt-suggestion p 
{
	/*margin: 0;*/
}

.search-btn
{
    /*icon image relative to '.typehead', because it's position
        is set relative*/
    position: absolute;
    top: 19%;
    right: 3%;
    width: 20px;
    height: 20px;    
}